.container-fluid
  .row
    .col-sm-6.col-sm-offset-3
      %ul.nav.nav-tabs{ role: 'tablist' }
        %li.active{ role: 'presentation' }
          %a#hopper-tab{ href: '#hopper', role: 'tab', 'data-toggle': 'tab' }
            The Hopper
        %li{ role: 'presentation' }
          %a{ href: '#used', role: 'tab', 'data-toggle': 'tab' }
            Used

  .row
    .col-xs-12
      #tabContent.tab-content
        #hopper.tab-pane.active
          - @items.select{ |i| i.sent_at == nil }.each do |i|
            = render partial: 'item_row', locals: { item: i }
        #used.tab-pane
          - @items.select{ |i| i.sent_at != nil }.each do |i|
            = render partial: 'item_row', locals: { item: i }
