.container-fluid
  .row
    .col-xs-12
      - @items.each do |item|
        .row
          .col-md-12
            %h3
              = item.title
              - if item.sent_at.present?
                %small
                  %span.glyphicon.glyphicon-ok
            %p
              = item.blurb
            = link_to edit_item_path(item) do
              Edit
